<div class="billing-layout">
    <div class="billing-heading">Location:</div>
    <div class="location-layout">
        <div class="address-card" (click)="onOpenAddressSelection()">
            @if (addresses.length > 0) {
            <div class="left-column">
                <p class="address-title">{{ selectedAddress().title }}</p>
                <p class="receiver-info">
                    <strong class="receiver-name">{{ selectedAddress().receiverName }} - </strong>
                    <span class="receiver-phone">{{ selectedAddress().receiverPhone }}</span>
                </p>
            </div>
            <div class="right-column">
                <p class="address-line">{{ selectedAddress().addressLine }}</p>
                <p class="address-meta">
                    <span class="pincode">Pincode: {{ selectedAddress().pincode }}</span>,
                    <span class="city">{{ selectedAddress().city }}</span>,
                    <span class="state">{{ selectedAddress().state }}</span>
                </p>
            </div>
            } @else {
            <p class="no-data-message">Please add address</p>
            }
        </div>
        @if (openAddressSelection()) {
        <div class="address-selection">
            <h2 class="sub-heading">Select address:</h2>
            <div class="address-list">
                @for (address of addresses; track address._id) {
                <div class="address-list-card" (click)="onAddressSelection(address)">
                    <div class="left-column">
                        <p class="address-title">{{ address.title }}</p>
                        <p class="receiver-info">
                            <strong class="receiver-name">{{ address.receiverName }} - </strong>
                            <span class="receiver-phone">{{ address.receiverPhone }}</span>
                        </p>
                    </div>
                    <div class="right-column">
                        <p class="address-line">{{ address.addressLine }}</p>
                        <p class="address-meta">
                            <span class="pincode">Pincode: {{ address.pincode }}</span>,
                            <span class="city">{{ address.city }}</span>,
                            <span class="state">{{ address.state }}</span>
                        </p>
                    </div>
                </div>
                } @empty {
                <p class="no-data-message">No addresses found</p>
                }
            </div>
        </div>
        }
    </div>
    <div class="billing-heading">Price details:</div>
    <div class="bill-container">
        <div class="bill-card">
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of cartItems(); track item.pizzaId) {
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.price * item.quantity | currency: 'INR' }}</td>
                    </tr>
                    }
                </tbody>
            </table>
            <div class="final-total">
                Total: <span>{{calculateTotal() | currency: 'INR'}}</span>
            </div>
        </div>
    </div>
    <button class="place-order-button">Place order</button>
</div>