.billing-layout {
    padding-inline: 1rem;
}

.bill-card {
    background-color: var(--lightest-gray-color);
    border-radius: 0.5rem;
    padding-bottom: 1rem;
    box-shadow: 0 .25rem .375rem #0000001a;
}

.billing-heading {
    font-size: x-large;
    padding: 1rem 0;
    text-shadow: .0625rem .0625rem .125rem var(--black-color);
}

.bill-container {
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: 0.05rem dashed var(--gray-color);
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
    background-color: transparent;
}

thead {
    color: var(--darker-gray-color);
    border-bottom: .125rem solid var(--lighter-gray-color);
}

th, td {
    padding: .75rem .9375rem;
    text-align: left;
}

tbody {
    background-color: var(--white-color);
}

tbody tr {
    border-bottom: .0625rem solid var(--lighter-gray-color);
}

tbody tr:hover {
    background-color: var(--shaded-white-color);
    transition: background-color 0.3s ease;
}

th {
    text-transform: uppercase;
    font-weight: bold;
}

.styled-table {
    border-radius: 0.5rem;
    overflow: hidden;
}

.final-total {
    justify-self: flex-end;
    font-weight: 600;
    margin: 1rem 1rem 0 0;
}

.final-total span {
    font-weight: 800;
    color: var(--green-color);
}

.sub-heading {
    margin: 0;
    font-size: x-large;
    font-weight: 500;
    text-shadow: .0625rem .0625rem .125rem var(--light-gray-color);
    color: var(--secondary-dark-color);
    margin: 0.5rem 0 0.5rem 0.5rem;
}

.location-layout {
    margin: 0.5rem 0;
    padding: 0.2rem;
    border-radius: 0.5rem;
    border: 0.05rem dashed var(--light-gray-color);
}

.address-list {
    max-height: 15rem;
    overflow-y: auto;
}

.address-card {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    border: .1rem solid var(--secondary-light-color);
    border-radius: .5rem;
    padding: 1rem;
    background-color: var(--shaded-white-color);
    box-shadow: 0 .25rem .375rem #0000001a;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.address-card:hover {
    border-color: var(--secondary-color);
    box-shadow: 0 0 .3125rem var(--secondary-light-color);
}

.address-list-card {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    border: .1rem solid var(--lighter-gray-color);
    border-radius: .5rem;
    padding: 1rem;
    background-color: var(--shaded-white-color);
    box-shadow: 0 .25rem .375rem #0000001a;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.address-list-card:hover {
    border-color: var(--secondary-light-color);
    box-shadow: 0 0 .3125rem var(--secondary-light-color);
}

.left-column {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.right-column {
    width: 55%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.address-title {
    margin: 0;
    font-size: 1.5em;
    font-weight: 600;
    color: var(--darker-gray-color);
}

.receiver-info {
    margin: 0;
    font-size: 1em;
    color: var(--darker-gray-color);
}

.receiver-name {
    font-weight: bold;
}

.receiver-phone {
    font-weight: normal;
    color: var(--gray-color);
}

.address-line {
    margin: 0;
    font-size: 1em;
    color: var(--dark-gray-color);
}

.address-meta {
    margin: 0;
    font-size: 0.9em;
    color: var(--gray-color);
}

.pincode, .city, .state {
    display: inline-block;
    margin-right: .25rem;
}

.no-data-message {
    padding-inline: 1rem;
    font-size: larger;
    font-weight: 600;
    color: var(--light-gray-color);
}