<header>Our Story</header>
<div class="main-content">
    <p>
        We believe in good. We launched Fresh Pan Pizza Best Excuse Awards on our Facebook fan page.
        Fans were given situations where they had to come up with wacky and fun excuses. The person with the best
        excuse won the Best Excuse Badge and won Pizzeria's vouchers. Their enthusiastic response proved that
        Pizzeria's Fresh Pan Pizza is the Tastiest Pan Pizza. Ever!
    </p>
    <p>
        Ever since we launched the Tastiest Pan Pizza, ever, people have not been able to resist the
        softest, cheesiest, crunchiest, butteriest Domino's Fresh Pan Pizza. They have been leaving the stage in the
        middle of a performance and even finding excuses to be disqualified in a football match.
    </p>
    <p>
        Launched Fresh Pan Pizza Best Excuse Awards on our Facebook fan page. Fans were given
        situations where they had to come up with wacky and fun excuses. The person with the best excuse won the
        Best Excuse Badge and won Domino's vouchers. Their enthusiastic response proved that Pizzeria's Fresh Pan
        Pizza is the Tastiest Pan Pizza. Ever!
    </p>
    <div class="content">
        <img class="content-image" src="https://www.shutterstock.com/shutterstock/photos/526830277/display_1500/stock-photo-raw-dough-for-pizza-with-ingredients-and-spices-on-table-526830277.jpg"
            alt="pizza-ingredients">
        <div class="content-text">
            <h3 class="content-heading">Ingredients</h3>
            <p class="content-data">
                We're ruthless about goodness. We have no qualms about tearing up a day-old
                lettuce leaf (straight from the farm), or steaming a baby (carrot). Cut. Cut. Chop. Chop. Steam. Steam.
                Stir Stir. While they're still young and fresh - that's our motto. It makes the kitchen a better place.
            </p>
        </div>
    </div>
    <div class="content">
        @if (isMobile) {
            <img class="content-image" src="https://www.shutterstock.com/shutterstock/photos/437116033/display_1500/stock-photo-happy-chef-437116033.jpg"
            alt="chef">
        }
        <div class="content-text">
            <h3 class="content-heading">Our Chef</h3>
            <p class="content-data">
                They make sauces sing and salads dance. They create magic with skill,
                knowledge, passion, and stirring spoons (among other things). They make goodness so good, it doesn't
                know what to do with itself. We do though. We send it to you.
            </p>
        </div>
        @if (!isMobile) {
            <img class="content-image" src="https://www.shutterstock.com/shutterstock/photos/437116033/display_1500/stock-photo-happy-chef-437116033.jpg"
            alt="chef">
        }
    </div>
    <div class="content">
        <img class="content-image" src="https://www.shutterstock.com/shutterstock/photos/669255385/display_1500/stock-photo-vintage-analog-kitchen-countdown-timer-with-classical-clock-face-and-red-remaining-time-display-669255385.jpg"
            alt="delivery">
        <div class="content-text">
            <h3 class="content-heading">45 min delivery</h3>
        </div>
    </div>
</div>
<app-footer />