.loader-container {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: .5rem solid #d1914b;
    box-sizing: border-box;
    --c: no-repeat radial-gradient(farthest-side, #d64123 94%, #0000);
    --b: no-repeat radial-gradient(farthest-side, #000 94%, #0000);
    background:
        var(--c) .6875rem .9375rem,
        var(--b) .375rem .9375rem,
        var(--c) 2.1875rem 1.4375rem,
        var(--b) 1.8125rem .9375rem,
        var(--c) .6875rem 2.875rem,
        var(--b) .6875rem 2.125rem,
        var(--c) 2.25rem 0rem,
        var(--b) 3.125rem 1.9375rem,
        var(--c) 2.9375rem 2.6875rem,
        var(--b) 1.9375rem 3rem,
        #f6d353;
    background-size: .9375rem .9375rem, .375rem .375rem;
    animation: l4 3s infinite;
}

@keyframes l4 {
    0% {
        -webkit-mask: conic-gradient(#0000 0, #000 0)
    }

    16.67% {
        -webkit-mask: conic-gradient(#0000 60deg, #000 0)
    }

    33.33% {
        -webkit-mask: conic-gradient(#0000 120deg, #000 0)
    }

    50% {
        -webkit-mask: conic-gradient(#0000 180deg, #000 0)
    }

    66.67% {
        -webkit-mask: conic-gradient(#0000 240deg, #000 0)
    }

    83.33% {
        -webkit-mask: conic-gradient(#0000 300deg, #000 0)
    }

    100% {
        -webkit-mask: conic-gradient(#0000 360deg, #000 0)
    }
}