<div class="address-card">
    <div class="delete-address" (click)="onDeleteAddress(address()._id!)">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash-fill"
            viewBox="0 0 16 16">
            <path
                d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
        </svg>
    </div>
    <div class="left-column">
        <p class="address-title">{{ address().title }}</p>
        <p class="receiver-info">
            <strong class="receiver-name">{{ address().receiverName }} - </strong>
            <span class="receiver-phone">{{ address().receiverPhone }}</span>
        </p>
    </div>
    <div class="right-column">
        <p class="address-line">{{ address().addressLine }}</p>
        <p class="address-meta">
            <span class="pincode">Pincode: {{ address().pincode }}</span>,
            <span class="city">{{ address().city }}</span>,
            <span class="state">{{ address().state }}</span>
        </p>
    </div>
</div>