.pizza-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-inline: 5rem;
    margin-top: 2rem;
    height: max-content;
    background-color: red;
    flex: 1;
}

.single-pizza {
    padding: 2rem;
}

@media (max-width: 768px) {
    .pizza-list {
        grid-template-columns: 1fr;
        padding-inline: 0.5rem;
    }

    .single-pizza {
        padding: 1.5rem;
    }
}