.pizza-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-inline: 5rem;
    margin-top: -1rem;
    min-height: 90vh;
}

.single-pizza {
    padding: 2rem;
    transition: transform 0.5s ease;
}

.scale-effect {
    transition: transform 0.5s ease;
    transform: scale(1.01);
}

.scale-effect:hover {
    transform: scale(1.01);
}

@media (max-width: 768px) {
    .pizza-list {
        grid-template-columns: 1fr;
        padding-inline: 0.5rem;
    }

    .single-pizza {
        padding: 1.5rem;
    }
}