<div class="top-elements">
    <div class="back-button" routerLink="/build-pizza/select-pizza">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
            class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
            <path
                d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1" />
        </svg>
        <span>Back</span>
    </div>
    <h1 class="selection-heading">Pizzeria now gives you options to build your own pizza. Customize your pizza by
        choosing
        ingredients from the list given below</h1>
</div>
<div class="ingredients-layout">
    <table class="toppings-table">
        @for (ingredient of ingredients(); track ingredient._id) {
        <tr>
            <td>
                <img [src]="ingredient.image" [alt]="ingredient.tname" class="topping-image">
            </td>
            <td>
                <strong>{{ ingredient.tname }}</strong>
                <span class="price">{{ ingredient.price | currency: 'INR' }}</span>
            </td>
            <td>
                <label class="add-label">
                    <input type="checkbox" [checked]="isIngredientChecked(pizzaId(), ingredient._id.toString())" (change)="updateTotalCost(ingredient.price, ingredient._id.toString(), $event)" />
                    Add
                </label>
            </td>
        </tr>
        }
    </table>
    <h3 class="total-cost">Total cost: {{ totalCost() }}</h3>
</div>
<div class="build-button-layout">
    <button class="build-pizza-button" (click)="buildPizza()">Build Ur Pizza</button>
</div>