@if (isLoading()) {
<app-screen-loader />
} @else {
@if (orders().length > 0) {
<table class="responsive-table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Delivered to</th>
            <th>Address</th>
            <th>Order Details</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @for (order of orders(); track order._id) {
        <tr>
            <td data-label="Date">{{ order.createdAt | date: 'dd/MM/yyyy' }}</td>
            <td data-label="Delivered to">{{ order.address.receiverName }}</td>
            <td data-label="Address">{{ order.address.addressLine + ', Pincode: ' + order.address.pincode + ', ' +
                order.address.city + ', ' + order.address.state }}</td>
            <td data-label="Order Details">{{ getItemList(order.cartItems) }}</td>
            <td data-label="Total">{{ order.finalTotal | currency: 'INR' }}</td>
        </tr>
        }
    </tbody>
</table>
} @else {
<app-error-screen errorMessage="No orders found" />
}
}