.item-card {
    border: .0625rem solid var(--lightest-gray-color);
    border-radius: .5rem;
    box-shadow: 0 .125rem .3125rem #00000033;
    padding: 1rem;
    background-color: var(--white-color);
}