<div class="item-card">
    <div class="image-layout">
        <img [src]="cartItem().image" [alt]="cartItem().name">
    </div>
    <div class="details-layout">
        <h2 class="item-heading">{{ cartItem().name }}</h2>
        <p><strong>Extra ingredients:</strong> {{ getExtraIngredients() }}</p>
    </div>
    <div class="pricing-layout">
        <span>{{ cartItem().price | currency: 'INR' }}</span>
        <div class="quantity-buttons">
            <button class="minus-button">
                @if (cartItem().quantity < 2) { 
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                    <path
                        d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                    </svg>
                    } @else {
                        -
                    }
            </button>
            {{ cartItem().quantity }}
            <button class="plus-button">+</button>
        </div>
    </div>
</div>