<app-modal>
    <div class="forms-layout">
        <h1 class="heading">{{ isLoginSelected() ? 'Login' : 'Sign Up' }}</h1>
        @if (isLoginSelected()) {
        <form class="login-form">
            <input class="text-input" type="email" placeholder="E-Mail" [(ngModel)]="email"
                [ngModelOptions]="{standalone: true}">
            <div class="login-password">
                <input class="text-input" [type]="isPasswordVisible() ? 'text' : 'password'" placeholder="Password"
                    [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
                <label class="checkbox-input">
                    <input type="checkbox" (change)="setPasswordVisibility($event)" />
                    Show password
                </label>
            </div>
            <button class="sign-in-button" type="button" (click)="loginUser(email(), password())">Sign in</button>
            <div class="change-layout">
                <h3 class="query-text">First time here?</h3>
                <a class="change-link" (click)="selectSignUp()">Create user</a>
            </div>
        </form>
        } @else {
        <form>
            <input type="text" placeholder="Name">
            <input type="email" placeholder="E-Mail">
            <input type="number" placeholder="Age">
            <input [type]="isPasswordVisible() ? 'text' : 'password'" placeholder="Password">
            <input [type]="isPasswordVisible() ? 'text' : 'password'" placeholder="Confirm">
            <input type="checkbox" (change)="setPasswordVisibility($event)">Show password
            <button type="submit">Sign up</button>
            <button type="reset">Clear</button>
            <h3>Existing user?</h3>
            <a (click)="selectSignIn()">Sign in</a>
        </form>
        }
    </div>
    <!-- <button (click)="closeAuth()">Cancel</button> -->
</app-modal>