<app-modal>
    <div class="forms-layout">
        <h1 class="heading">{{ isLoginSelected() ? 'Login' : 'Sign Up' }}</h1>
        @if (isLoginSelected()) {
        <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()" class="form">
            <input class="text-input" type="email" placeholder="E-Mail" formControlName="email">
            <div class="login-password">
                <input class="text-input" [type]="isPasswordVisible() ? 'text' : 'password'" placeholder="Password" formControlName="password">
                <label class="checkbox-input">
                    <input type="checkbox" (change)="setPasswordVisibility($event)" />
                    Show password
                </label>
            </div>
            <button class="submit-button" type="submit">Sign in</button>
            <div class="change-layout">
                <h3 class="query-text">First time here?</h3>
                <a class="change-link" (click)="isLoginSelected.set(false)">Create user</a>
            </div>
        </form>
        } @else {
        <form [formGroup]="registerForm" (ngSubmit)="registerSubmit()" class="form">
            <input class="text-input" type="text" placeholder="Name" formControlName="name">
            <input class="text-input" type="email" placeholder="E-Mail" formControlName="email">
            <input class="text-input" type="number" placeholder="Age" formControlName="age">
            <div class="password-group" formGroupName="passwords">
                <input class="text-input" [type]="isPasswordVisible() ? 'text' : 'password'" placeholder="Password" formControlName="password">
            <input class="text-input" [type]="isPasswordVisible() ? 'text' : 'password'" placeholder="Confirm" formControlName="confirmPassword">
            </div>
            <label class="checkbox-input">
                <input type="checkbox" (change)="setPasswordVisibility($event)" />
                Show password
            </label>
            <button class="submit-button" type="submit">Sign up</button>
            <div class="change-layout">
                <h3 class="query-text">Existing user?</h3>
                <a class="change-link" (click)="isLoginSelected.set(true)">Login</a>
            </div>
        </form>
        }
    </div>
    <!-- <button (click)="closeAuth()">Cancel</button> -->
</app-modal>