.address-card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: .0625rem solid var(--lighter-gray-color);
    border-radius: .5rem;
    padding: 1.5rem;
    background-color: var(--shaded-white-color);
    margin: 1rem auto;
    box-shadow: 0 .25rem .375rem #0000001a;
    position: relative;
}

.delete-address {
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
    border-radius: 0.5rem;
    color: var(--white-color);
    background-color: var(--dark-gray-color);
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

.delete-address:hover {
    background-color: var(--darker-gray-color);
    box-shadow: #0000003d 0rem .1875rem .5rem;
}

.left-column {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.right-column {
    width: 55%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.address-title {
    margin: 0;
    font-size: 1.5em;
    font-weight: 600;
    color: var(--darker-gray-color);
}

.receiver-info {
    margin: 0;
    font-size: 1em;
    color: var(--darker-gray-color);
}

.receiver-name {
    font-weight: bold;
}

.receiver-phone {
    font-weight: normal;
    color: var(--gray-color);
}

.address-line {
    margin: 0;
    font-size: 1em;
    color: var(--dark-gray-color);
}

.address-meta {
    margin: 0;
    font-size: 0.9em;
    color: var(--gray-color);
}

.pincode, .city, .state {
    display: inline-block;
    margin-right: .25rem;
}