<div class="pizza-card">
    <div class="pizza-header">
        <h2 class="pizza-title">{{ pizza().name }}</h2>
        <div class="type-indicator">
            @if (pizza().type === 'veg') {
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" version="1.1" viewBox="0 0 3387 3387"
                style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd">
                <rect x="338" y="320" width="2739" height="2773" fill="#FEFEFE" stroke="#008001" stroke-width="85" />
                <circle cx="1707" cy="1733" r="789" fill="#008001" stroke="#008001" stroke-width="85" />
            </svg>
            } @else {
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" version="1.1" viewBox="0 0 3387 3387"
                style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd">
                <rect x="338" y="320" width="2739" height="2773" fill="#FEFEFE" stroke="#9C3B14" stroke-width="85" />
                <circle cx="1707" cy="1733" r="789" fill="#9C3B14" stroke="#9C3B14" stroke-width="85" />
            </svg>
            }
        </div>
        <div class="pizza-price">
            {{ pizza().price | currency: 'INR' }}
        </div>
    </div>

    <div class="pizza-details">
        <p>{{ pizza().description }}</p>
        <p><strong>Ingredients :</strong> {{ pizza().ingredients }}</p>
        <p><strong>Toppings :</strong> {{ pizza().topping }}</p>
    </div>

    <div class="pizza-bottom">
        <div class="pizza-image">
            <img [src]="pizza().image" alt="Paneer Tikka Pizza">
        </div>
        <button class="add-to-cart-btn" [ngClass]="{ 'disabled-button': pizza().isAdded }" [disabled]="pizza().isAdded"
            (click)="!pizza().isAdded && onAddToCart(pizza()._id)">
            @if (pizza().isAdded) {
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </svg>
            }
            <span>{{ pizza().isAdded ? 'Added to cart' : 'Add to Cart' }}</span>
        </button>
    </div>
</div>