.pizza-card {
    height: 100%;
    border: .0625rem solid var(--lightest-gray-color);
    border-radius: .5rem;
    box-shadow: 0 .125rem .3125rem #00000033;
    padding: 1rem;
    background-color: var(--white-color);
    display: grid;
    grid-template-columns: 25% 45% 35%;
    overflow-x: hidden;
    transition: transform 0.5s ease;
}

.scale-effect {
    box-shadow: 0rem 0.1rem 0.2rem var(--secondary-color);
    transition: all 0.5s ease;
    transform: scale(1.03);
}

.scale-effect:hover {
    transform: scale(1.03);
}

.pizza-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
}

.pizza-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--primary-color);
}

.pizza-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: .85rem;
    color: var(--gray-color);
}

.pizza-details strong {
    color: var(--black-color);
}

.pizza-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.pizza-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--dark-gray-color);

}

.pizza-image img {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
}

.add-to-cart-btn {
    background-color: var(--secondary-color);
    color: var(--white-color);
    box-shadow: #00000033 0 .1875rem .0625rem -0.125rem, #00000024 0 .125rem .125rem 0, #0000001f 0 .0625rem .3125rem 0;
    border: none;
    padding: .5rem .75rem;
    border-radius: .25rem;
    cursor: pointer;
    font-size: .9rem;
    transition: all 0.5s ease;
    display: flex;
    gap: 0.5rem;
}

.add-to-cart-btn:hover {
    box-shadow: #00000033 0 .125rem .25rem -0.0625rem, #00000024 0 .25rem .3125rem 0, #0000001f 0 .0625rem .625rem 0;
}

.add-to-cart-btn:active {
    box-shadow: #00000033 0 .3125rem .3125rem -0.1875rem, #00000024 0 .5rem .625rem .0625rem, #0000001f 0 .1875rem .875rem .125rem;
    background-color: var(--secondary-dark-color);
}

.disabled-button {
    cursor: not-allowed;
    box-shadow: #00000033 0 .1875rem .0625rem -0.125rem, #00000024 0 .125rem .125rem 0, #0000001f 0 .0625rem .3125rem 0;
    background-color: var(--secondary-light-color);
}

.disabled-button:hover {
    box-shadow: #00000033 0 .1875rem .0625rem -0.125rem, #00000024 0 .125rem .125rem 0, #0000001f 0 .0625rem .3125rem 0;
    background-color: var(--secondary-light-color);
}

@media (max-width: 768px) {
    .pizza-card {
        display: flex;
        flex-direction: column;
    }

    .pizza-image img {
        width: 10rem;
        height: 10rem;
    }
}