<div class="pizza-card">
    <div class="pizza-header">
        <h2 class="pizza-title">{{ pizza().name }}</h2>
        <div class="type-indicator">
            @if (pizza().type === 'veg') {
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" version="1.1" viewBox="0 0 3387 3387"
                style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd">
                <rect x="338" y="320" width="2739" height="2773" fill="#FEFEFE" stroke="#008001" stroke-width="85" />
                <circle cx="1707" cy="1733" r="789" fill="#008001" stroke="#008001" stroke-width="85" />
            </svg>
            } @else {
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" version="1.1" viewBox="0 0 3387 3387"
                style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd">
                <rect x="338" y="320" width="2739" height="2773" fill="#FEFEFE" stroke="#9C3B14" stroke-width="85" />
                <circle cx="1707" cy="1733" r="789" fill="#9C3B14" stroke="#9C3B14" stroke-width="85" />
            </svg>
            }
        </div>
        <div class="pizza-price">
            {{ pizza().price | currency: 'INR' }}
        </div>
    </div>

    <div class="pizza-details">
        <p class="pizza-description">
            {{ pizza().description }}
        </p>
        <p><strong>Ingredients :</strong> {{ pizza().ingredients }}</p>
        <p><strong>Toppings :</strong> {{ pizza().topping }}</p>
    </div>

    <div class="pizza-bottom">
        <div class="pizza-image">
            <img [src]="pizza().image" alt="Paneer Tikka Pizza">
        </div>
        <button class="add-to-cart-btn">Add to Cart</button>
    </div>
</div>