.cart-layout {
    display: grid;
    grid-template-columns: 60% 40%;
}

.cart-items {
    font-size: x-large;
    padding: 1rem;
    text-shadow: .0625rem .0625rem .125rem var(--black-color);
}

.single-cart-item {
    margin: 0.5rem;
}

.billing {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
}

@media (max-width: 768px) {
    .cart-layout {
        display: block;
    }

    .cart-items-list {
        height: auto;
    }
}