.cart-layout {
    display: grid;
    grid-template-columns: 60% 40%;
}

.cart-items {
    font-size: xx-large;
    padding: 1rem;
    text-shadow: 1px 1px 2px black;
    background-color: var(--secondary-color);
}

.cart-items-list {
    height: 80vh;
    overflow-y: auto;
}

.single-cart-item {
    margin: 0.5rem;
}

.billing {
    background-color: azure;
}

@media (max-width: 768px) {
    .cart-layout{
        display: block;
    }

    .cart-items-list {
        height: auto;
    }
}