.cart-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, 25rem);
    justify-content: space-around;
    padding-inline: 5rem;
    margin-top: -1rem;
    min-height: 90vh;
}

.single-cart-item {
    height: max-content;
    padding: 1rem;
}

@media (max-width: 768px) {
    .cart-items {
        grid-template-columns: 1fr;
        padding-inline: 0.5rem;
    }

    .single-cart-item {
        padding: 1.5rem;
    }
}